{% extends 'layouts/guest.html' %}
{% load static %}


{% block content %}
<style>
	.field-icon {
				float: right;
				padding-right: 50px;
				margin-left: -25px;
				margin-top: -25px;
				position: relative;
				z-index: 2;
				}

	.container{
				padding-top:50px;
				margin: auto;
				}
			</style>
    
		<div class="d-flex flex-column flex-root">
			<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url('{% static 'assets/media/illustrations/sketchy-1/14.png' %}')">
				<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
				
					<div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
						<form class="form w-100" novalidate="novalidate" id="_sign_in_form" data-redirect-url="{% url 'home:dashboard' %}" action="">
							<div class="text-center mb-10">
								<h1 class="text-dark mb-3">Horizon Login</h1>
							</div>
							<div class="fv-row mb-10">
								<label class="form-label fs-6 fw-bolder text-dark">Username</label>
								<input class="form-control form-control-lg form-control-solid" id="username" type="text" name="username" placeholder="Username" autocomplete="off" />
							</div>
							<div class="fv-row mb-10">
								<div class="d-flex flex-stack mb-2">
									<label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
								</div>
								<input class="form-control form-control-lg form-control-solid"  id="login-pasword"  type="password" name="password" placeholder="Password " autocomplete="off" />
								<span toggle="#login-pasword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="text-center">
								<button type="submit" id="_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
									<span class="indicator-label">Continue</span>
									<span class="indicator-progress">Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
								</button>
							
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>

{% endblock content %}
    


{% block script %}
<script>
	$(".toggle-password").click(function() {

$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr("toggle"));
if (input.attr("type") == "password") {
  input.attr("type", "text");
} else {
  input.attr("type", "password");
}
});
	</script>
<script>
    var api_config = {
        "authentication_url" : "{% url 'authentication:login' %}",
    }
</script>



<script src="{% static 'assets/js/custom/pages/authentication/login.js' %}?time={% now 'h:i:s' %}" ></script>
    
{% endblock script %}
    